@page "/todo"

<h1>Todo</h1>

<form>
	<div class="input-group">
		<label>New Todo Item</label>
		<input type="text" name="newTodoItem" @bind="newTodoItem">
	</div>

	<input type="submit" value="Submit">
</form>





@for (int i =0; i<todos.Count();i++)
    {
       //var localVariable = i;
       string todo = todos[i];
       int listIndex = i+1;
      
      <li class="page-item"><a class="page-link">
      	@listIndex) @todo
      </a></li>
    }





@code {
	private string newTodoItem;
	private List<string> todos=
		new List<string>
			(
				new string[] { "element1", "element2", "element3" }
			);

}
