@page "/todo"

<h1>Todo</h1>

<form @onsubmit="((ui)=> { addTodo(); } )"
      >
	<div class="input-group">
		<label>New Todo Item: </label>
		<input type="text" name="newTodoItem" @bind="newTodoItem">
	</div>

	<input type="submit" value="Submit">
</form>



<ul class="p-0 mt-2" style="list-style:none; align-items:center;">

    @for (int i = 0; i < todos.Count(); i++)
    {
        string todo = todos[i];
        int listIndex = i + 1;


        <li class="mt-2 ml-0" style="border:solid 1px black; margin:.1em; padding:.1em;
    display:flex; flex-direction:row; width:100%; justify-content:space-between;
    
">
            <p class="ml-1"
               style="display:inline; margin-top:auto; margin-bottom:auto;">
                @listIndex) @todo
            </p>

            <button class="btn btn-danger m-1" style="float:right;">Delete</button>

        </li>
    }
</ul>




@code {
    private string newTodoItem;
    private List<string> todos = new List<string>() {
        "Wake Up", "Wash Your Face","Brush your teeth"};
    void addTodo()
    {
        if(newTodoItem != "") { todos.Add(newTodoItem); }
        newTodoItem = "";
    }
}

