@page "/todo"

<h1>Todo</h1>

<form @onsubmit="((ui)=> { addTodo(); } )"
      >
	<div class="input-group">
		<label>New Todo Item: </label>
		<input type="text" name="newTodoItem" @bind="newTodoItem">
	</div>

	<input type="submit" value="Submit">
</form>



<ul class="p-0 pt-3 pb-1" style="list-style:none;">

    @for (int i = 0; i < todos.Count(); i++)
    {
        string todo = todos[i];
        int listIndex = i + 1;

        <li class="page-item">
            <a>
                @listIndex) @todo
            </a>
        </li>
    }
</ul>




@code {
    private string newTodoItem;
    private List<string> todos = new List<string>() {};
    void addTodo()
    {
        if(newTodoItem != "") { todos.Add(newTodoItem); }
        newTodoItem = "";
    }
}

